@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;400;500;600;700&display=swap');

$apple-green: #39B89A;
$deep-jungle: #006A6A;
$light-toxic: #5BC8AF;
$just-white: #FFFFFF;
$eyes-burn-pink: #FF1371;
$unknown-red: #E41758;

body {
    font-family: 'Manrope', sans-serif;
}


.hero-area-row {
    position: relative;
}

#hero-bg-img {
    filter: brightness(0.85);
}

.over-img-container {
    position: absolute;
    left: 221px;
    top: 425px;
    margin-top: 30px;
}

.logo-top-area {
    position: absolute;
    left: 221px;
    top: 61px;
}

.headline {
    color: $eyes-burn-pink;
    font-size: 50px;
    padding: 0;
    margin: 0;
    font-weight: 600;
    span {
        background: $just-white;
        padding: 0 41px 0 41px;
    }
}

.subline {
    color: white;
    inline-size: 80%;;
    span {
        font-size: 120px;
        font-weight: 200;
        line-height: 150px;
    }
}

ul {
    font-weight: 400;
    list-style-type: "- ";
    font-size: 20px;
    padding: 0;
    li {
        margin-top: 3px;
    }
}


//________________________________________
//
// Content Area
//________________________________________

.content-box-area {
    position: relative;
    margin-top: 164px;
    color: $just-white;
}

.hr {
    margin-top: 5px;
    border: 1px solid $just-white;
}

.content-box-area-headline {
    margin-left: 270px; 
    p {
        font-size: 60px;
        font-weight: 600;
        color: $deep-jungle;
    }
}

.content-box-col-area {
    margin-top: 30px;
}

.content-box-bottom-area {
    margin-left: -170px;
    margin-bottom: -20px;
    padding-left: 150px;
    padding-bottom: 79px;
    width: 41.67%;
    bottom: -60px;
    position: absolute;
    .pricetag {
        h3 {
            font-weight: 600;
            font-size: 45px;
        }
    }
    button {
        border: white solid;
        border-radius: 136px;
        background-color: transparent;
        height: 50px;
        width: 213px;
        font-weight: 500;
        &:hover, &:active {
            background-color: $just-white;
            border-color: $just-white;
        }
    }
}

//________________________________________
//
// Content Box Left
//________________________________________

.content-box-left {
    padding: 170px;
    background-color: $unknown-red;
    margin-right: 17px;
    .content-box-bottom-area {        
        background-color: $unknown-red;
        button:hover {
            color: $unknown-red;
        }
    }

}

.content-box-left-headline {
    padding: 0;
    h3 {        
        font-size: 34px;
    }
}

.content-box-left-badge {
    margin-right: -10px;
    text-align: right;
    h3 {        
        font-size: 25px;
        span {
            background-color: $just-white;
            color: $unknown-red;
            padding: 3px 14px 3px 14px;
        }
    }
}

.content-box-left-text {
    margin-top: 50px;
}

//________________________________________
//
// Content Box Right
//________________________________________

.content-box-right {
    padding: 170px;
    background-color: $light-toxic;
    margin-left: 17px;
    .content-box-bottom-area {        
        background-color: $light-toxic;        
        button:hover {
            color: $light-toxic;
        }
    }
}

.content-box-right-headline {
    padding: 0;
    h3 {        
    font-size: 34px;
    }
}

.content-box-right-text {
    margin-top: 50px;    
}

//________________________________________
//
// footer-area
//________________________________________

.footer-area {
    background-color: $deep-jungle;
}

#logo-bottom {
    width: 25%;
}

.footer-rightside-text {
    text-align: right;
}

//________________________________________
//
// 500px Space
//________________________________________

.yeah {
    margin-top: 400px;
    
}

